<div style="border: 3px solid green; background-color: darkblue; color: white; padding: 1em; margin: 1em; text-align: center">
    This communication is provided to you by ${app.name} ${app.version}
</div>